#version=RHEL8
# License agreement
eula --agreed
# Use graphical install
graphical
# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=localhost.localdomain
ignoredisk --only-use=sda
# Run the Setup Agent on first boot
firstboot --enable

repo --name="AppStream" --baseurl=http://mirror.centos.org/centos/8.3.2011/AppStream/x86_64/os
# Use network installation
url --url="http://mirror.centos.org/centos/8.3.2011/BaseOS/x86_64/os/"
# System bootloader configuration
bootloader --location=none
autopart
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Run the Setup Agent on first boot
firstboot --enable

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$jbpH2p2j4j2WOUqf$empMEM5l70nmQUbPyl5RbVvzp7C95cLvj/q2B0KB0DxVJLIqJhwx89HDJXC3IhMb3vOvp2o.uW1YMY7wImphn0
user --groups=wheel --name=user --password=$6$MtX/bwrkU44yrTvg$kn5xdFzEz4qv4SD0Pa092Re4wEH3GxAEga7nA877SAgfCCnJDrPv4Nsh0HjKNLFe1mCvXJ9YodfbRZy69K9960 --iscrypted

%addon ADDON_placeholder --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
