#version=RHEL8
# Use graphical install
graphical


%packages
@^graphical-server-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=rhel01

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$4ze1fhPdYoVGlcuK$AXx0.mBgmG7N8EmSDaDBEOA6nJoHv6cvp5vXhK78X2Ga.4sp3SUm4oKwD55vw0/ELdlynErWtSTqycsQHxMmi.
user --groups=wheel --name=user --password=$6$CKPhP569bSWSxc1b$Wc/6k1L6LVjNhyIAvg.CkYN6GPS2Ccdh1P1.CqODKaLZ6tvg9vusrtYZ5eHFGALm0U9ZpMpIvqdUtyvX3Mtl8/ --iscrypted

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
